POSTGRES_DB=barbearia_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
JWT_SECRET=changeme
ADMIN_NOME=Admin
ADMIN_EMAIL=admin@barbearia.com
ADMIN_SENHA=changeme
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
